@import "src/lib/styles/default-page";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container {
  height: 300px;
  width: 600px;
}

.auth-input {
  width: 100%;
}

.submit-button {
  width: 100%;
}
