<div class="wrapper default-wrapper">
  <div class="header default-container">
    <h1 class="header-text">Login Page</h1>
  </div>

  <div class="container default-container">
    <div class="auth-container">
      <form [formGroup]="loginForm">
        <p>
          <mat-form-field class="auth-input" appearance="legacy">
            <mat-label>Login</mat-label>
            <input matInput formControlName="login" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="auth-input" appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" required>
          </mat-form-field>
        </p>

        <button class="submit-button" mat-raised-button color="primary" (click)="onLogin()">Login</button>
        <a class="register-button" mat-raised-button color="accent" routerLink="/registration">Register</a>
      </form>
    </div>
  </div>
</div>
