<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="wrapper default-wrapper">
      <mat-toolbar class="main-toolbar">
        <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Car Dealership</span>
          <span class="spacer"></span>

          <a mat-button routerLink="/admin">Admin</a>
          <a mat-button routerLink="/profile">Profile</a>
          <a mat-button routerLink="/payment">Payment</a>
          <a mat-button>Logout</a>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


