@import "src/custom-material/custom-page/custom-page.component";

.container {
  display: flex;
  justify-content: center;
}

.auth-container {
  height: 300px;
  width: 600px;
}

.auth-input {
  width: 100%;
}

.submit-button {
  width: 100%;
}
