<div class="wrapper default-wrapper">
  <div class="header default-container">
    <h1 class="header-text">Registration Page</h1>
  </div>

  <div class="container default-container">
    <div class="auth-container">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="auth-input" appearance="legacy">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="auth-input" appearance="legacy">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="auth-input" appearance="legacy">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="auth-input" appearance="legacy">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="auth-input" appearance="legacy">
            <mat-label>Patronymic</mat-label>
            <input matInput formControlName="patronymic" required>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Country</mat-label>
            <mat-select formControlName="countryId">
              <mat-option *ngFor="let country of countries" [value]="country.id">{{country.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="auth-input" appearance="legacy">
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phoneNumber" type="number" required>
          </mat-form-field>
        </p>

        <button class="submit-button" mat-raised-button color="primary">Register</button>
      </form>
    </div>
  </div>
</div>
