@import "../../custom-material/styles/common";

.content {
  display: flex;
}

.go-back-btn {
  position: absolute;
}

.profile-image {
  height: 360px;
  width: 360px;

  border-radius: 1rem;

  @include box-shadow(-10px 10px 0px 0px rgb(0 0 0 / 45%));
}

.fields-list-item {
  display: flex;
  flex-direction: column;
}

.data-container {
  width: 60%;
  margin-left: 1rem;
}

.field-name {
  flex: 1;
  font-weight: bold;
}

.field-value {
  flex: 1;
}
